body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #fafafa;
}

.nav-bar{
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px 20px;
}

.hamburger-menu{
  margin-top: 5px;
}

.nav-bar *{
  margin-right: 15px;
}

.nav-bar h3{
  margin-right: auto;
}

.nav-bar button{
  background-color: #3f51b5;
  color: white;
  padding: 5px 10px;
  border: none;
  box-shadow: -2px 2px 5px rgba(0,0,0, 0.2);
}

.login, .sign-up{
  text-align: center;
  margin: 60px auto;
}

form, .links{
  max-width: 300px;
  margin: auto;
  min-width: 300px;
}


form > *{
  display: block;
  margin: 15px 0px;
}

form > input, form > button{
  width: 300px;
  padding: 7px 4px;
  border-radius: 4px;
}

form > input{
  border: 1px solid gray;
  color: gray;
}

form div{
  text-align: left;
}

form button{
  background-color: #3f51b5;
  border: none;
  color: white;
  cursor: pointer;
}

.links{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.links a{
  color: #3f51b5;
  text-decoration: none;
}

.sign-up a{
  text-decoration: none;
  font-size: 12px;
  color: #3f51b5;
}

.home{
  text-align: center;
}

.search-input{
  box-shadow: 0 0 1px black;
  width: 700px;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input input{
  width: 100%;
  border: none;
  background-color: #fafafa;
}

.search-input input:focus{
  border: none;
  outline: none;
}

.search-bar{
  display: flex;
  width: 800px;
  margin: auto;
}

.search-bar button{
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
}

.book-searched{
  height: 50vh;
  overflow: scroll;
  width: 770px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  padding-left: 10px;
  overflow-x: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.book-searched a{
  display: block;
  text-decoration: none;
  padding: 5px 0;
  color: black;
}

.book-searched a:hover{
  color: #3f51b5;
  font-weight: bold;
}

.details{
  background-color: white;
  width: 250px;
  height: 400px;
  margin: 10px auto;
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.3);
  text-align: center;
}

#details-title{
  padding-top: 20px;
}

.details hr{
  width: 90%;
  color: rgba(128, 128, 128, 0.1);
  opacity: 0.4;
}

#details-poster{
  max-width: 150px;
}

.avg-rating p, .rate-it p:last-child{
  margin-top: -5px;
}

.avg-rating p:first-child, .rate-it p:first-child{
  margin-bottom: 2px;
}

.avg-rating i, .rate-it i{
  margin: 0 2px;
}

 